<a href="https://colab.research.google.com/github/Nafisa-siddiqua-22/CSE-477-Data-mining/blob/main/CSE477_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

# Load the dataset
import pandas as pd
data = pd.read_excel(r'PreProcessingdataset_5entries.xlsx')

# Show initial dataset information
print("Initial Dataset Info:")
data.info()
print("\nInitial Dataset Head:")
print(data.head())

Initial Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6 non-null      int64
 1   Name    6 non-null      object
 2   Age     5 non-null      float64
 3   Salary  5 non-null      float64
 4   City    5 non-null      object
 5   Score   6 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 416.0+ bytes

Initial Dataset Head:
   ID     Name    Age   Salary City  Score
0   1    Alice   25.0  50000.0   NY     90
1   2      Bob   30.0  60000.0   LA     85
2   3  Charlie    NaN     50.0  NaN    100
3   4    David   40.0      NaN   SF     45
4   5      Eve  200.0  80000.0   LA    105

In [37]:
# Handle Missing Values
# Replace missing values in numerical columns with the mean
num_cols = data.select_dtypes(include=['number']).columns
data[num_cols] = data[num_cols].fillna(data[num_cols].mean())

# Replace missing values in categorical columns with the mode
cat_cols = data.select_dtypes(include=['object']).columns
data[cat_cols] = data[cat_cols].apply(lambda col: col.fillna(col.mode()[0]))

print("\nAfter Handling Missing Values:")
print(data.info())

After Handling Missing Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6 non-null      int64
 1   Name    6 non-null      object
 2   Age     6 non-null      float64
 3   Salary  6 non-null      float64
 4   City    6 non-null      object
 5   Score   6 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 416.0+ bytes
None

In [38]:
# Remove Duplicate Entries
# Remove duplicate rows based on the 'ID' column
data = data.drop_duplicates(subset='ID', keep='first')

print("\nAfter Removing Duplicates:")
print(data.info())

After Removing Duplicates:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      float64
 3   Salary  5 non-null      float64
 4   City    5 non-null      object
 5   Score   5 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 280.0+ bytes
None

In [39]:
# Handle Noise
# Example adjustment for 'Age' > 100 and 'Score' > 100
data.loc[data['Age'] > 100, 'Age'] = 100
data.loc[data['Score'] > 100, 'Score'] = 100

print("\nAfter Handling Noise:")
print(data[['Age', 'Score']].describe())

After Handling Noise:
              Age       Score
count    5.000000    5.000000
mean    58.800000   84.000000
std     37.545972   22.748626
min     25.000000   45.000000
25%     30.000000   85.000000
50%     40.000000   90.000000
75%     99.000000  100.000000
max    100.000000  100.000000

In [40]:
# Show Before-and-After Comparisons
# Note: This step requires saving intermediate steps or keeping copies for comparison.
# Example: Display changes for missing value handling
print("\nMissing Values Before and After:")
print(data.isnull().sum())

Missing Values Before and After:
ID        0
Name      0
Age       0
Salary    0
City      0
Score     0
dtype: int64

In [41]:
# Example: Display first few rows before and after duplicate removal
# Store a copy of the dataset before duplicate removal for comparison
before_duplicates = pd.read_excel('PreProcessingdataset_5entries.xlsx')
before_duplicates = before_duplicates.dropna()  # Adjust for any preprocessing steps
print("\nDuplicates Before Removal:")
print(before_duplicates.duplicated(subset='ID').sum())
print(data.info())
print("\nDuplicates After Removal:")
print(data.duplicated(subset='ID').sum())
print(data.info())

Duplicates Before Removal:
1
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      float64
 3   Salary  5 non-null      float64
 4   City    5 non-null      object
 5   Score   5 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 280.0+ bytes
None

Duplicates After Removal:
0
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      5 non-null      int64
 1   Name    5 non-null      object
 2   Age     5 non-null      float64
 3   Salary  5 non-null      float64
 4   City    5 non-null      object
 5   Score   5 non-null      int64
dtypes: float64(2), int64(2), object(2)
memory usage: 280.0+ bytes
None